@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: linear-gradient(rgb(26, 144, 194), rgb(186, 230, 253));
  color: white;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.container-data {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100%;
}
.hidden{
  visibility: hidden;
}

.cercle {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  font-size: 2rem;
  border: 2px solid rgb(255, 255, 255);
  width: 300px;
  height: 300px;
  margin: 50px;
  border-radius: 100%;
  text-align: center;
  overflow: hidden;
}

.hot{
  background: linear-gradient(to bottom, rgba(255, 165, 0, 0.9), rgba(255, 215, 0, 0.9));
}


header {
  position: relative;    /* Permet le positionnement absolu des enfants */
  text-align: center;    /* Centre le texte (ici le <h1>) */
  padding: 20px;         /* Espacement interne */
}

.titre{
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 2rem;
}

.login-container {
  display: flex;
  flex-flow: column;
  position: absolute;
  max-width: 300px; 
  border-radius: 10px;         
  /* background-color: rgba(255, 255, 255, 0.2);  */
  text-align: center;          
  color: #fff;  
  top: 20px;             /* Décalage depuis le haut du conteneur */
  right: 10px;
}

input{
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
}

.login-container button {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(to right, #3B9DD4, #2C8BB8);
}


.login-container button:hover {
  border: 1px solid white;
}


#logoutButton{
  width: 100%;
  margin-right: 20px;

}



@media (max-width: 1100px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .login-container {
    /* Passage en position relative pour intégrer l'élément dans le flux normal */
    position: relative;
    margin-top: 20px;     /* Espacement entre le titre et le formulaire */
    right: auto;         /* Réinitialise la position */
    top: auto;
    align-self: center;   /* Centre horizontalement l'élément */
  }
  .container-data {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}

#specialEffectsToggleDiv {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 25px;
  margin: 25px
}

#specialEffectsToggleButton {
  position: absolute;
  border: 1px solid black;
  background: none;
  height: 5%;
  width: 10%;
  font-size: large;
}

@media (max-width:650px) {

 

}