@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgb(40, 158, 209), rgb(186, 230, 253));
  background-repeat: no-repeat;
  user-select: none;
  color: white;
}

/*------MODAL------*/

#containerModal{
  display: none;
  width:100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;


  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  background-color: rgba(0, 0, 0, 0.052);

}

#modal{
  width: 40%;
  height: 50%;
  padding: 2rem;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  gap: 10px;

  background: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(10px);         
  -webkit-backdrop-filter: blur(10px);   /* Pour Safari/Chrome anciens */
  border: 1px solid rgba(255, 255, 255, 0.3); 

  border-radius: 20px;
  
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);

}

#inputUser, #inputPassword{
  background-color: rgba(255, 255, 255, 1);
  color: #333;

  width: 50%;
  max-width: 300px;
  height: 10%;
  font-size: 16pt;

  border: none;
  border-radius: 6px;
  outline: none;
  transition: background-color 0.2s;
}

#textmdp, #textidentifiant, #SeConnecterh1{
  width: 100%;  
  color: #ffffff;  
  text-align: center;
  margin: 0.5rem 0;
  font-weight: 600; 
}


.buttonStyle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 0 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  background: linear-gradient(to right, #87d6f2, #58c5ed);
  color: #fff;
  font-size: 18px;
  font-weight: 600;

  box-shadow:
    rgba(45, 35, 66, 0.3) 0 2px 4px,
    rgba(45, 35, 66, 0.2) 0 7px 13px -3px;
  transition: box-shadow 0.15s, transform 0.15s;
}

.buttonStyle:hover {
  box-shadow:
    rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.2) 0 7px 13px -3px;
  transform: translateY(-2px);
}

.buttonStyle:active {
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 7px inset;
  transform: translateY(2px);
}

.buttonStyle:focus {
  outline: none;
}

#inscription:hover{
  text-decoration: underline;
}


.login-container {
  display: flex;
  flex-flow: column;
  position: absolute;
  max-width: 300px; 
  border-radius: 10px;         
  /* background-color: rgba(255, 255, 255, 0.2);  */
  text-align: center;          
  color: #fff;  
  top: 20px;             /* Décalage depuis le haut du conteneur */
  right: 10px;
}

input{
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
}

.login-container button {
  width: 125px;
  height: 50px;
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(to right, #3B9DD4, #2C8BB8);
}

.login-container button:hover {
  border: 1px solid white;
}


#logoutButton{
  display: none;
  width: 100%;
  margin-right: 20px;
}


/*------END MODAL------*/
/*------CONTAINER------*/

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.container-data {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100%;
}

/*------HEADER------*/

header {
  position: relative;    
  text-align: center;    
  padding: 20px;       
}


.titre{
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 3rem;
}

/*------CERCLE------*/
.cercle {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;

  width: 300px;
  height: 300px;
  margin: 4rem;

  font-size: 2rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100%;
  
  text-align: center;
}

.hot{
  background: linear-gradient(to bottom, rgba(255, 165, 0, 0.9), rgba(255, 215, 0, 0.9));
}

/*------CHART------*/

.chart{
  max-width: 800px;
  width: 80%;
  margin-bottom: 2rem;
}

.hidden{
  visibility: hidden;
}


@media (max-width: 1100px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .login-container {
    /* Passage en position relative pour intégrer l'élément dans le flux normal */
    position: relative;
    margin-top: 20px;     /* Espacement entre le titre et le formulaire */
    right: auto;         /* Réinitialise la position */
    top: auto;
    align-self: center;   /* Centre horizontalement l'élément */
  }
  .container-data {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 800px) {

}