/* * {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#container{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#modal{
    width: 40%;
    height: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8%;
    gap: 10px;
}


#textseconnecter{
    
    width: 25%;
}


#textidentifiant{
    width: 15%;
    margin-left: -22%;
    margin-top: 50px;
}


#inputUser{
    background-color: bisque;
    width: 35%;
    height: 10%;
    font-size: 16pt;
    padding: 5px;
}


#textmdp{
    width: 17%;  
    margin-left: -20%;
    margin-top: 20px;
}


#inputPassword{
    background-color: bisque;
    width: 35%;  
    height: 10%;  
    font-size: 16pt;
    padding: 5px;
}


#connexion{
    width: 25%;  
    height: 10%;
    font-size: large;
    margin-top: 30px;
    
} */